@charset "utf-8";
/* CSS Document */

*{margin:0px;padding:0px;}
.top{ height:280px; width:100%;}
.back-img{ height:210px;width:100%;}
.desc{height: 70px;width:100%;}
p{margin:0px;padding:0px;}
.des1{ width:33%; float: left; text-align:center; height: 100%;}
.des2{width:34%; float: left;text-align:center; height: 100%;}
.middle{width: 100%; height:170px;}
.m-l{ width: 42%; height: 60%; float:left; margin-right:5%; }
.m-r{ width:43%; height: 60%;float:left;}
.bottom{ width:100%;}
h6{ color:white;}
h4{ font-weight:bold; color:grey;font-size:20px;}
.content{ margin:0px 10px 0px 10px; background-color:#ccc; height: 8%; border-radius:5px;}
.con{ margin:10px 20px 20px 20px; }
.tt{ height: 50px; text-align: center;}

    li{list-style:none;line-height:20px;}
	
	b{position:relative; bottom:15px;}
	
	.small_title{  bottom:-10px; font-weight:bold; background-color:#9b6c2b; border-radius:0.5em; line-height:30px;  margin-right:3px;}
	.fazhan{  border-radius:0.5em;  border-bottom:1px solid #9b6c2b; border-right:1px solid #9b6c2b; padding:0px; margin:5px; height:44px;}
	.fazhan_{width:90%; background-color:#FFF; border: 1px solid #e7e7e7; margin-left:5%;}
	
	._p{ margin-bottom:2px; font-size:22px;}
	.lianxi{border-bottom:1px solid #999; margin-top:20px; }
	.kong{width:100%; height:40px;}
	.hexin{ border-radius:0.5em;  border-bottom:1px solid #9b6c2b; border-right:1px solid #9b6c2b; padding:0px; margin:5px; height:44px;}
	.hexin_{width:90%; display:none; background-color:#FFF; border: 1px solid #e7e7e7;margin-left:5%;}
	.jishu{ border-radius:0.5em;  border-bottom:1px solid #9b6c2b; border-right:1px solid #9b6c2b; padding:0px; margin:5px; height:44px;}
	.jishu_{width:90%; display:none; background-color:#FFF; border: 1px solid #e7e7e7;margin-left:5%;}
	.hezuo{ border-radius:0.5em;  border-bottom:1px solid #9b6c2b; border-right:1px solid #9b6c2b; padding:0px; margin:5px; height:44px;}
	.hezuo_{width:90%; display:none; background-color:#FFF; border: 1px solid #e7e7e7;margin-left:5%;}
	
   